#addDiscBody {
    margin-top: 85px;
    padding-bottom: 100px;
    @media (max-width: 700px){
        margin-top: 15px;
        padding-bottom: 150px;
    }
}

#newDiscussionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newDiscussionDiv > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C985FF;
    margin-top: 10px;
    box-shadow: 5px 5px 5px lightblue;
    padding: 10px;
    width: 80%;
}

#newDiscussionDiv #gameDiv{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        border-bottom: solid black 1px;
    }

    img {
        box-shadow: 5px 5px 5px -5px black;
        max-height: 300px;
    }
}

#newDiscussionDiv #discussionContent{
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    background-color: white;
    
    @media (max-width: 700px){
       padding: 0;
    }

    .newDiscussionData {
        width: 80%;
        box-shadow: 5px 5px 5px -5px black;
        border: none;
        font-family: 'Kanit';
        margin: 10px;
        min-height: 50px;
        background-color: #F5E8FF;
    }

    textarea {
        resize: none;
        font-size: 20px;
    }

    input {
        font-size: 30px;
        text-align: center;
    }

    form {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #C985FF;
        align-items: center;
    }

    form > #submitDiscussion {
        width: 50%
    }

    form > #submitDiscussion:hover {
        background-color: #f2ffe8;
        cursor: pointer;
    }

    
}