#search-bar{
    margin: 2.5% 5%;
    width: 90%;
    height: 7%;
    display: flex;
    background-color: #F2E1FF;
    justify-content: start;
    align-items: center;
}

#search-bar > ul > li{
    margin: 0 2%;
    height: 100%;
}

#search-bar > ul{
    width: 50%;
}

#search-bar > form{
    display: flex;
    width: 97%;
    height: 85%;
}

#search-bar > form > input{
    width: 95%;
    border: none;
    padding: 0 0 0 2%;
}

#search-img{
    background-color: #C985FF;
    width: auto;
    height: 95%;
    border-radius:10px;
    margin: 0 5px;
    padding:3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-img > img{
    width: auto;
    height: 80%;
}

#search-input{
    background-color: #D9D9D9;
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#games-container{
    width: 100%;
    min-height: 84%;
    display: flex;
    justify-content: center;
    /*align-items:center; */
    flex-direction: row;
    flex-wrap: wrap;
    @media (width <= 700px) {
        padding-bottom: 120px;
    }

    .newsItem {
        width: 250px;
        height: 250px;
        background-color: #F2E1FF;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        box-shadow: 0px 0px 23px -5px black;
        text-overflow: ellipsis;
        
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        p{
            margin-top: 5px;
        }

        img {
            max-height: 75%;
            width: 100%;
        }

        .articleDesc {
            color: grey;
            font-size: 10px;
        }
    }

    .newsItem:hover {
        transform: translateY(-10px);
    }
}


/* .game-card{
    width: 250px;
    height: 415px;
    padding: 15px;
    background-color: #F2E1FF;
    margin: 2.5%;
    border-radius: 5%;
}



#game-img-container > img{
    width: 100%;
    height: auto;
}

.game-card > a:hover{
    cursor: pointer;
}

.game-card > a{
    color: black;
    text-decoration: none;
    margin: 2.5%;
}

.game-title{
    font-size: 35px;
    font-weight: 250;
    width: 100%;
    height: 35px;
}

.developer-name, .game-genre{
    font-size: 15px;
    font-weight: 100;
} */

    #newsContent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 700px){
            justify-content: center;
            margin-bottom: 100px;
        }

        
    }