.discussion-body-container {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
}

.discussion-body-container > div {
    width: 80%;
}

.discussion-card {
    background-color: blue;
    margin-bottom: 5vh;
}

.discussion-game-section {
    background-color: #EBD1FF;
    text-align: left;
    align-items: center;
}

.discussion-game-section > img, .discussion-game-section > h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.discussion-game-section > img {
    max-height: 200px;
    max-width: 300px;
}

.discussion-game-section > h1 {
    font-size: 50px;
    overflow-wrap: break-word;
}

.discussion-list-section {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.discussion-list-box {
    background-color: #F5E8FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin: 2px 0px;
}

.discussion-list-box h3 {
    cursor: pointer;
}

.discussion-view-all-section {
    text-align: right;
    background-color: #EBD1FF;
}

.unliked-button, .liked-button, .add-discussion-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.unliked-button:hover, 
.liked-button:hover,
.add-discussion-button:hover {
    transform: scale(1.1);
}

.like-animation {
    animation: like 0.35s ease;
}

.unliked-button {
    color: black;
}

.liked-button {
    color: red;
}


@keyframes like {
    0% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.35);
    }
    100% {
        transform: scale(1);
    }
}

.discussion-view-all-button {
    border: none;
    background-color: #EBD1FF;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}

.discussion-view-all-button:hover {
    color: white;
    cursor: pointer;
}

@media only screen and (width < 700px) {
    .discussion-body-container {
        margin-top: 5vh;
        padding-bottom: 15vh;
    }
}