footer{
    z-index: 999; /*Make the footer overlay other elements on scroll down */
}

#home-icon, #catalogue-icon, #user-icon, #friends-icon, #chat-icon {
    width:10vw;
    height: 10vh;
    padding: 1vh;

}

.flex-navbar-foot{
    display:flex;
    background-color:#C985FF;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-section {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media only screen and (width >= 700px) {
    footer {
        display: none;
    }
}