.top-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 32%;
    padding: 5vh;
    background-image: url(../components/icons/banner.jpg);

}

#friends-loggedin-user-icon{
    width: 100px;
    height: 100px;
}

.section-break{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f2e1ff;
}

.friends-btn {
    border: none;
    cursor: pointer;
    background-color: #f2e1ff;
    border-radius: 8px;
    font-family: "kanit";

    a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }
    
    a:hover {
        color: white;
    }
}
.friends-section{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        background-color: #f2e1ff;
        border-radius: 50px;
        border: 1px solid #C985FF;
        text-align: left;
        font-size: 24px;
        align-items: center;        

        p {
            width: 200px;
            padding: none;
            margin: none;
            text-align: center;
        }
    }

}

.friends-user-icon{
    width: 50px;
    height: 50px;
    padding: 20px;
    grid-area: friends-user-icon;
}

#friends-title{
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-top: 4vh;
}

@media only screen and (width < 700px){
    .friends-section{
        padding-bottom: 100px;
    }
}