.friends-user-icon{
    grid-area: friends-user-icon
}

.friendReq1{
    font-size: 24px;
}

.confirm{
    grid-area: confirm;
    background-color: rgb(76, 237, 103);
    border-color: white;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    border: none;
}

.confirm:hover{
    color:white;
}

.deny{
    grid-area: deny;
    background-color: rgb(237, 95, 76);
    border-color: white;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    margin: 10px;
}

.deny:hover{
    color:white;
}

.request-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        button {
            width: 80px;
        }

        p {
            width: 200px;
        }
    }
}

.friends-btn {
    border: none;
    color: black;
    cursor: pointer;
    background-color: #f2e1ff;
    border-radius: 8px;
    font-family: "kanit";
    font-size: 24px;
    text-decoration: none;
}

@media only screen and (width < 700px){
    .request-section{
        padding-bottom: 100px;
    }
}

.friend-req-title {
    margin-top: 30px;
    border-bottom: solid 3px black;
}

#outgoingList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .outgoingFriendReq {
        background-color: #f2e1ff;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 10px;

        p {
            margin: 0;
            margin-bottom: 20px;
            padding: 5px;
            text-align: center;
        }
    }
}

