.friend-page-container {
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h2 {
        text-align: center;
    }
}

.top-section{
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin-top: 70px;
    background-image: url(../components/icons/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 17px -5px black;

    @media (max-width: 700px){
        margin-top: 0px;
    }
    
    div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:10px;
    }
}

#friends-loggedin-user-icon{
    width: 100px;
    height: 100px;
}

.section-break{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f2e1ff;
}

.friends-btn {
    border: none;
    cursor: pointer;
    background-color: #f2e1ff;
    border-radius: 8px;
    font-family: "kanit";

    a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }
    
    a:hover {
        color: white;
    }
}
.friends-section{
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        background-color: #f2e1ff;
        border-radius: 50px;
        border: 1px solid #C985FF;
        text-align: left;
        font-size: 24px;
        align-items: center;     
        box-shadow: 5px 5px 5px 0px #BFEFEB;   

        p {
            width: 200px;
            padding: none;
            margin: none;
            text-align: center;
        }
    }

}

.friends-user-icon{
    width: 50px;
    height: 50px;
    padding: 20px;
    grid-area: friends-user-icon;
}

#friends-title{
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-top: 4vh;
}

@media only screen and (width < 700px){
    .friends-section{
        padding-bottom: 100px;
    }
}