.body-container {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;

    @media only screen and (width <= 700px) {
        margin-top: 10px;
        padding-bottom: 15vh;
    }
}

.game-overview{
    background-color: #EBD1FF;
    margin: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 5px 5px 5px lightblue;
    @media (width <= 700px) {
        flex-direction: column;
        text-align: center;
    }
}

#cover-image{
    justify-content: center;
    align-items: center;
    margin: 0px 3vw;
    padding: 20px;
}

#game-information {
    display: grid;
    grid-template-areas: 
        'details'
        'desc';
    grid-row-gap: 5vw;
    margin: 0px 3vw;
    padding: 10px;
}

#game-details {
    grid-area: details;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (width <= 700px) {
        flex-direction: column;
    }
}

#cover-image > img {
    height: 20vw;
}

#advanced-details {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    @media (width <= 700px) {
        flex-direction: row;
    }
}

#basic-details {
    margin-left: 10px;
}

#game-description{
    grid-area: desc;
}

#game-description > #addToTopGames, #addedToTopGames {
    border: none;
    font-family: 'Kanit';
    font-size: 24px;
    box-shadow: 5px 5px 5px gray;
}

#game-description > #addedToTopGames:disabled {
    background-color: lightgrey;
    color: black;
    font-family: 'Kanit';
    font-size: 24px;
    box-shadow: 5px 5px 5px gray;
}

#game-description > #addToTopGames:hover {
    background-color:aquamarine;
}

#game-description > #addedToTopGames:hover {
    background-color:firebrick;
    color: white;
}

#game-publisher > h1, #game-publisher > p {
    margin: 0px;
}

#game-categories {
    display: inline-block;
    background-color: #C985FF;
    padding: 5px 15px;
    border-radius: 20px;
}

.store-info {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#app-store, #play-store {
    width: 50px;
    height: 50px;
}

#app-store {
    border-radius: 15px;
}

.store-info > p {
    margin-left: 10px;
}

#overview-discussion-section {
    width: 90%;
    margin-bottom: 5vh;
}

#discussion-list-box {
    box-shadow: 5px 5px 5px lightblue;
}

#discussion-label {
    margin-top: 5vh;
    margin-bottom: 5px;
}

.discussionTitle:hover{
    cursor: pointer;
}