a.router-link-active.router-link-exact-active {
    color: white;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

h2 {
    font-weight: 100;
    font-size: 40px;
    font-family: "Kanit", thin;
    margin: 0;
    
    @media (max-width: 700px){
        text-align: center;
    }
}

#dashboardDiv {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

    @media (max-width: 700px){
        margin-top: 0;
        padding-bottom: 100px;
    }
}

#topHalfDiv {
    width: 100%;
    display: flex;
    flex-direction: row;

    @media (max-width: 700px){
        flex-wrap: wrap;
    }

    #trendingDiv {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 50px;
        margin-right: 50px;
        @media (max-width: 700px){
            margin-top: 0;
            margin: 0;
            width: 100%;
        }

        .subTitleDiv {
            width: 100%;
        }

        #trendingContentDiv {
            background-color: #D9D9D9;
            display: flex;
            flex-direction: row;
            @media (max-width: 700px){
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            img {
                padding: 15px;
                max-width: 40%;  
                @media (max-width: 700px){
                    max-width: 90%;
                }              
            }

            #gameDescDiv{
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                h3 {
                    font-size: 40px;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }

                p {
                    padding: 10px;
                    font-family: "Kanit";
                    font-weight: normal;
                    color: black;
                }
                @media (max-width: 700px){
                    #gameDescription{
                        display: none;
                    }
                }
                

                #publisher {
                    font-weight: 50;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                #genreDiv {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    align-self: self-start;
                    margin-left: 10px;

                    .genre {
                        width: 50px;
                        background-color: #C985FF;
                        border-radius: 10px;
                        padding: 5px;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        font-weight: 400;
                        margin-right: 10px;
                    }
                }

                #info {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .tags {
                        margin: 0;
                    }
                }

            }
        }
    }

    #recentDiscussionsDiv  {
        width: 25%;
        @media (max-width: 700px){
            width: 100%;
        }
        li {
            width: 90%;
            @media (max-width: 700px){
                width: 100%;
            }
            display: flex;
            flex-direction: row;
            height: 10%;
            font-size: 20px;
            font-weight: 300;
            background-color: #EBD1FF;
            align-items: center;
            justify-content: space-between;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 80%;
            }

            a {
                color: white;
            }
            a:hover {
                color: red;
            }
        }

        li:nth-child(odd) {
            background-color: #F2E1FF;
        }

    }

}

#bottomHalfDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    @media (max-width: 700px){
        margin: 0;
    }

    #newsContent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (max-width: 700px){
            justify-content: center;
            margin-bottom: 100px;
        }

        .newsItem {
            width: 250px;
            height: 250px;
            background-color: #F2E1FF;
            border-radius: 20px;
            overflow: hidden;
            margin: 20px;
            text-align: center;
            

            img {
                max-height: 75%;
                width: 100%;
            }
        }
    }
}

