a.router-link-active.router-link-exact-active {
    color: white;
}

#dashboard {
    margin-top: 20vh;
    margin-bottom: 20vh;

    display: flex;
    justify-content: center;
}

#welcomeDiv {
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px #BABABA;
    background-color: #bababa29;

    .welcomemessage {
        font-size: 20px;
        margin: 0;
        padding: 10px;
    }
}

