html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

#login-container{
    background-size: cover;
    background-image: url("../components/icons/purple.webp");
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

#login-form{
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(201, 133, 255, 0.6);
}

.form-input, #login-button{
    width: 70%;
    max-width: 25vw;
}

.form-input input{
    background-color: #F2E1FF;
    border: none;
    outline: none;
    height: 25px;
    width: 100%;
    padding: 0px 2%;
    border-radius: 5px;
}

.form-input input:focus, .form-input input:hover, #login-button button:hover{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 2px rgba(0,0,0,0.08);
}

.login-link:active, .login-link, .login-link:active{
    color:#F2E1FF;
}

.login-link:hover{
    color:#000000
}

#login-button button{
    background-color: #F2E1FF;;
    border-radius: 16px;
    width: 33%;
    height: 30px;
}

#login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-input > select{
    background-color: #F2E1FF;;
    border-radius: 16px;
    width: 33%;
    height: 30px;
    text-align: center;
    margin: 0% 2%;
}

#user-class-selector{
    display: flex;
    justify-content: center;
    color: #F2E1FF;
}