html{
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

#login-container{
    background-size: cover;
    background-image: url("../components/icons/purple.webp");
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Kanit';
    
}

#login-form{
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(201, 133, 255, 0.6);
    min-height: 400px;

    @media (max-width: 700px){
        width: 75%;
    }
}

.form-input, #login-button{
    width: 70%;
    max-width: 25vw;


    @media (max-width: 700px){
        max-width: none;
    }
}

.form-input #username-field, .form-input #password-field, .form-input #email-field{
    background-color: #F2E1FF;
    border: none;
    outline: none;
    height: 25px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Kanit';
    font-size: 20px;
    box-shadow: 5px 5px 5px lightblue;
    margin: 10px;

}

.form-input input:focus, .form-input input:hover{
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 2px rgba(0,0,0,0.08);
}

.login-link:active, .login-link, .login-link:active{
    color:#F2E1FF;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;

    @media (max-width: 700px){
        width: 150px;
    }
}

.login-link:hover{
    color:#000000
}

#login-button button, #guestBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2E1FF;
    font-family: 'Kanit';
    font-size: 24px;
    padding: 2px;
    border: 0;
    width: 150px;
    height: 30px;
    box-shadow: 5px 5px 5px lightblue;
    border-radius: 5px;
}

#login-button button:hover, #guestBtn button:hover{
    transform: scale(1.02);
}

#login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 700px){
        button {
            width: 100px;
        }
    }
}

.form-input > select{
    background-color: #F2E1FF;;
    border-radius: 16px;
    width: 33%;
    height: 30px;
    text-align: center;
    margin: 0% 2%;
    
}

#user-class-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2E1FF;
    margin: 10px;

    @media (max-width: 700px){
        width: 100%;
        flex-direction: column;
        align-items: center;

        label{
            margin-bottom: 10px;
        }
    }
}

#guestBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;

}

#guestBtn button {
    width: 200px;
    max-width: 25vw;
    height: auto;
    padding: 5px;
    background-color: #F2E1FF;;
    border-radius: 5px;
}

#routerGuestBtn{
    text-decoration: none;
    color: black;

}