
.page-container{
    width: 100%;
    @media (width >= 700px){
        transform: translateY(70px);
        height: calc(100vh - 70px);
        position: absolute;
        overflow-y: scroll;
    }
    @media (width < 700px){
        height: calc(100vh - 100px);
    }

}