#profile-div {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 10px;
    align-items: center;

    @media (max-width: 700px){
        margin-top: 10px;
        padding-bottom: 100px;
    }

    img {
        width: 150px;
        padding: 20px;
        border-radius: 10px;
    }

    button:hover {
        color: white;
    }
}

.profileSubDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;

    @media (max-width: 700px){
        margin-bottom: 50px;
        flex-direction: column;
    }

    .userEditDiv {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .profileItem {
            width: 200px;
            margin: none;
        }
    }

    #profileViewBioLogoutDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 485px;
        text-align: start;
        @media (max-width: 700px){
            width: 200px;
        }

        button {
            background-color: rgb(255, 135, 135);
            padding: none;
            margin: none;
            border: none;
            font-family: 'Kanit';
            font-size: 36px;
            width: 500px;
            padding: 0px 40px 0px 40px;
            border-radius: 15px;
            margin: 10px;
            box-shadow: 5px 5px 5px lightblue;
            cursor: pointer;

            @media (max-width: 700px){
                width: 200px;
            }
        }

        button:hover {
            background-color: red;
        }
    }
}

#bioDiv {
    background-color: #f2e1ff;
    font-size: 20px;
    width: 100%;
}

.profileItem {
    background-color: #f2e1ff;
    box-shadow: 5px 5px 5px lightblue;
    font-size: 30px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    text-align: center;

    button {
        border: none;
        background-color: #f2e1ff;
        width: 100%;
        font-family: 'Kanit';
        font-size: 30px;
        border-radius: 15px;
        cursor: pointer;
    }
}

.gameIcon {
    width: 200px;
}


#top-games {
    ul{
        display: flex;
        flex-direction: row;

        @media (max-width: 700px){
            flex-direction: column;
        }
    }

    li {
        .topGamesImage > img {
            padding: 0;
        }

        p {
            margin: 0;
        }

        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f2e1ff;
        border-radius: 15px;
        padding: 15px;
        font-size: 24px;
        margin: 10px;
        box-shadow: 5px 5px 5px lightblue;
        border: double 4px lightblue;
    }

    li:hover {
        transform: scale(1.02);
    }
}